<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav d-flex justify-content-between">
      <div class="imgs">
        <h1>Travel Time</h1>
      </div>
      <img
        class="img3"
        src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png"
        alt=""
      />
    </div>
    <div class="main d-flex flex-wrap ">
      <!-- <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>
      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>
      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>
      </div> -->
      <div class="cards d-flex flex-column justify-content-end" *ngFor="let item of newData">
        <table>
          <tr >
            <td>id</td>
            <td>{{item.requestId}}</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>{{item.language}}</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>{{item.category}}</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>{{item.offer}}</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>{{item.countryType}}</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>{{item.travelType}}</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>{{item.startingPoint}}</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>{{item.destination}}</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>{{item.startDate}}</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>{{item.endDate}}</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>{{item.withSomeone}}</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>{{item.budget}}</td>
          </tr>

        </table>
        <input type="text" placeholder="teklifini yaz" name="teklif" [(ngModel)]="teklif">
        <button class="btn btn-primary" (click)="suggest(item.requestId)">teklif ver</button>

      </div>
      <!-- <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>

      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>

      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>

      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>

      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>

      </div>
      <div class="cards d-flex flex-column justify-content-end">
        <table>
          <tr>
            <td>id</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Dil</td>
            <td>EN</td>
          </tr>
          <tr>
            <td>Nov</td>
            <td>Istirahet</td>
          </tr>
          <tr>
            <td>Teklif novu</td>
            <td>her sey daxil</td>
          </tr>
          <tr>
            <td>Seyahet yeri</td>
            <td>olkedaxili</td>
          </tr>
          <tr>
            <td>Qrup tipi</td>
            <td>Qrup</td>
          </tr>
          <tr>
            <td>Hardan</td>
            <td>Baku</td>
          </tr>
          <tr>
            <td>Hara</td>
            <td>Quba</td>
          </tr>
          <tr>
            <td>Gedis tarixi</td>
            <td>2022-07-01</td>
          </tr>
          <tr>
            <td>Gelis tarixi</td>
            <td>2022-07-10</td>
          </tr>
          <tr>
            <td>Seyahetciler</td>
            <td>5adults</td>
          </tr>
          <tr>
            <td>Budce</td>
            <td>200manat</td>
          </tr>
          <tr>
            <td>Sorgunun tarixi</td>
            <td>2022-06-15 17:58</td>
          </tr>
          <tr>
            <td>Bitme tarixi</td>
            <td></td>
            2022-06-16 13:58
          </tr>
          <tr>
            <td>Telegram user</td>
            <td></td>
          </tr>
        </table>
        <input type="text" placeholder="teklifini yaz">
        <button class="btn btn-primary ">teklif ver</button>

      </div> -->

    </div>
  </body>
</html>
