<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="firstPart d-flex flex-column">
      <div class="part1.1 d-flex justify-content-between">
      
        <div style="margin-top: 12px;">
          <h1><b>Travel Time</b></h1>
        </div>
       <!-- <img class="logoimg" src="https://www.shutterstock.com/image-vector/travel-time-hand-drawn-lettering-260nw-1159550914.jpg" alt=""> -->
        <button (click)="agent()" class="btn btn-cabinet p-0 agent">Agent</button>
      </div>
      <div class="part1-2 d-flex flex-row">
        <div class="part1-2-1">
          <h1 style="color: #ffffff">
            BÜDCƏNƏ UYĞUN
            <br />
            SƏYAHƏT AXTARIRSAN,
            <br />
            <b style="color: #ffffffff">TRAVEL TIME HƏLL EDƏR</b>
          </h1>
          <a
            class="btn-action btn2 d-flex"
            href="https://web.telegram.org/k/#@NFL177traveltimebot"
          >
            <div class="tgLogo">
              <a
                class="btn-action btn2 d-flex"
                href="https://web.telegram.org/k/#@NFL177traveltimebot"
              >
                <div class="tgLogo">
                  <img src="http://dev.tural.az/assets/img/send.png" alt="" />
                </div>
                <h4>TravelTime</h4>
              </a>
            </div>
          </a>
        </div>
        <img
        class="img3"
        src="http://dev.tural.az/assets/img/intro-person.svg"
        alt=""
      />
      </div>
    </div>
    <div class="secondPart d-flex">
      <div class="text">
        <h1>Travel Time</h1>
        <h2>Kimdir?</h2>
        <p>
          Travel Time professional səyahətçidir. Tanımadığı bölgə, gəzmədiyi məkan
          qalmayıb. Haraya necə getmək lazım olduğundan tutmuş harada necə vaxt
          keçirtmək lazım olduğuna qədər hər şeyi bilir. Səyahət etmək
          istəyənlərin ən çox axtardığı dostdur. Təkcə özünə yox, hər kəsə
          səyahətini cibinə uyğun planlaşdırmaqda kömək etməyə hazırdır. Sən də
          ona yaza bilərsən, həmişə onlayndır.
        </p>
        
      </div>
      <img
        class="img4"
        src="http://dev.tural.az/assets/img/about-bg.webp"
        alt=""
      />
    </div>
    <div class="thirdPart d-flex ">
      <div class="part3-1 d-flex flex-column">
        <div class="d-flex">
          <h4>Leyla Xəlilli</h4>
        </div>
        <p>
          Rəfiqələrimlə səyahət planlaşdırdığımız zaman ən çox çətinlik
          çəkdiyimiz mövzular - uyğun qiymətə qalacaq yer tapmaq idi. Artıq
          səyahətimizi Travel Time-la planlaşdırırıq.
        </p>
      </div>
      <div class="part3-1 d-flex flex-column">
        <div class="d-flex">
          <h4>Nihad Əsgərli</h4>
        </div>
        <p>
          Sən demə, aşağı büdcə ilə də istirahət etmək olurmuş. Yazdığım
          büdcənin aşağı olmasına baxmayaraq, maraqlı təkliflər gəldi. Sağ olun
          ki, hər kəsi düşünürsünüz.
        </p>
      </div>
      <div class="part3-1 d-flex flex-column">
        <div class="d-flex">
          <h4>Aynur Axundzadə</h4>
        </div>
        <p>
          Hər kəsin gəzdiyi, hamının tanıdığı yerlərə təkrar-təkrar getməkdən
          zövq ala bilmirdim. Travel Time yeni yerlər kəşf etməyə kömək etdi.
        </p>
      </div>
    </div>
    <div class="lastPart flex-row">
      <div class="imgs">
        <h1>Travel Time</h1>
      </div>

      <p class="d-flex  justify-content-center ">
        © 2023
        TravelTime, All Rights Reserved.

        </p>

    </div>
  </body>
</html>
